body{
    background: #a0caca;
}

.container{
    width: 40%;
    background-color: #fff;
    margin:150px auto;
    padding: 20px;
}

.container .content{
    background-color: #ddd;
    font-size: 40px;
    padding: 20px 40px 20px 40px;
}
.container .content .days{
    display: flex;
    font-size: 10px;
    color: rgb(141, 137, 137);
    justify-content: space-between;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-family: sans-serif;
}

.container .content .days .active{color: black;}

.container .content img{
    width: 20px;
    height: 20px;
    float: left;
    cursor: pointer;
    margin-top: 17px;
}

.animate{animation : ring 1s infinite ease-in-out}

.container .content .clock{text-align: center;}

@keyframes ring{
    0%{
        margin:17px 0 0 0;
    }
    25%{
        margin: 10px 0 0 0;
        transform: rotate(20deg);
    }
    50%{
        margin: 10px 0 0 0;
        transform: rotate(-20deg);
    }
    100%{
        margin:17px 0 0 0;
    }
}


.top{
    position: absolute;
    background: #1b2323bd;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    display: none;
    transition: all 1s ease-in-out;
}

.top .popup{
    background-color: #fff;
    width: 50%;
    margin: 80px auto;
    padding: 50px 20px 70px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.top .popup img{
    width: 30px;
    height: 30px;
    position: absolute;
    top: -10px;
    right: -10px;
    cursor: pointer;
}
.top .content{
    display: grid;
    width: 100%;
    grid-template-columns: 70px 70px 70px;
    gap: 30px;
    justify-content: center;
    margin: 10px 0 30px;
}

.top .content select{
    padding: 7px 4px;
    width: 75px;
    background: #ddd;
    border: 0;
    outline: none;
    cursor: pointer;
}

.top .btns{
    display: grid;
    width: 100%;
    grid-template-columns: 80px 80px;
    gap: 20px;
    margin: auto;
    justify-content: center;
}

.top .btns button{
    border: 0;
    padding: 8px 15px;
    cursor: pointer;
    color: #fff;
    border-radius: 5px;
    font-size: 15px;
}

.top .btns button:first-child{background-color: rgb(109, 223, 223);}
.top .btns button:last-child{background-color: rgba(245, 71, 172, 0.973);}


/* media query */
@media (max-width:769px) {
    .container{width: 80%;}
    .top .popup{width: 80%;}
}